/*background*/

body{
    background-color: rgb(216, 236, 255);
    padding-left: 300px;
    padding-right: 300px;
}



/*tamaño*/

.width{
    width: 20px;
}

/*posicionar*/




.alejate{
    margin-left: 17px;
}

.gap{
    gap: 190px;
}

.gap2{
    gap: 40px;
}

.center{
    align-items: center;
}

/*aplicante*/

.flex{
    margin-top: 20px;
    display: flex;
}

/*barra-titulo*/

.titulo{
    justify-content: start;
    text-align: left;
    background-color: rgba(3, 66, 138, 0.384);
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1px;
}

/*divs*/

section{
    padding-left: 120px;
}

/*tablas*/

td{
    background-color: white;
    padding: 20px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Borders*/

.border{
    border: solid;
    padding-right: 200px;
}
/*palabras*/
p{
    font-size: 20px;
}
h2{
    padding-left: 20px;
}

h1{
    font-size: 25px;
}

.checkbox-grande {

  -webkit-transform: scale(1.4);
  margin-left: 20px;
}