/*background*/

body{
    background-color: rgb(216, 236, 255);
    padding-left: 400px;
    padding-right: 400px;
}



/*tamaño*/

.width{
    width: 20px;
}

/*posicionar*/

.margin{
    margin: 20px;
}
.alejate{
    margin-left: 57px;
}

.gap{
    gap: 190px;
}

.gap2{
    gap: 40px;
}

.end{
    justify-content: end;
}
.center{
    align-items: center;
}

/*aplicante*/

.flex{
    margin-top: 20px;
    display: flex;
}

/*barra-titulo*/

.titulo{
    justify-content: start;
    text-align: left;
    background-color: rgba(3, 66, 138, 0.384);
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1px;
}

/*divs*/

section{
    padding-left: 40px;
}

/*tablas*/

td{
    background-color: white;
    padding: 20px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Borders*/

.border{
    width: 345px;
    border: solid; 

}

/*palabras*/
p{
    font-size: 20px;
}

h2{
    padding-left: 20px;
}

h1{
    font-size: 22px;
}

.checkbox-grande {

  -webkit-transform: scale(1.4);
  margin-left: 20px;
}